body {
    font-family: arial;
    font-size: 12px;
    text-align: center;
    margin: 0;
}

.clear {
    clear: both;
}

fieldset#playerName {
    width: 40px;
    float: left;
}

fieldset#gamemode {
    width: 80px;
    float: left;
}

fieldset#zeropointsetting {
    width: 80px;
    float: left;
}

fieldset#randpos {
    width: 100px;
}

.nameedit {
    width: 80px;
}

#gamearea {
    /*background:待添加*/
    width: 600px;
    height: 600px;
    border: 3px solid #0F0;
    border-radius: 10px;
    position: relative;
}

.playerinfoarea {
    width: 30%;
    height: 30%;
    border: 3px dashed #F00;
    border-radius: 3px;
    position: absolute;
    text-align: left;
}

#player1 {
    left: 35%;
    top: 69%;
}

#player2 {
    left: 69%;
    top: 35%;
}

#player3 {
    left: 35%;
}

#player4 {
    top: 35%;
}

.playerpos {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: right;
    float: left;
}

.playername {
    font-family: 'Droid Serif', serif;
    font-size: 30px;
    float: right;
    width: 100px
}

.playerscore {
    font-family: "Comic Sans MS";
    font-size: 30px;
}

.playerscorediff {
    border: 1px solid blue;
    width: auto
}

.weici {
    font-size: 25px;
    text-align: center
}

#xiru_field {
    float: left;
}

#game_process {
    width: 33%;
    height: 80px;
    float: right;
    font-size: 26px;
    text-align: left;
    border: 2px solid #80abde;
    border-radius: 0 0 0 20px;
}

.inline_text {
    display: inline;
    color: forestgreen
}

.rong_btn {
    width: 45%;
    font-size: 28px;
    height: 40px;
    border: 2px #9999FF dashed;
    float: left;
    background-color: red;
}

.dianpao_btn {
    width: 45%;
    font-size: 28px;
    height: 40px;
    background-color: pink;
    border: 2px #9999FF dashed;
    float: right;
}

.t_btn_click {
    color: aliceblue;
    background-color: black;
    border: 5px solid #F0e;
    border-radius: 10px;
    font-size: 30px;
    height: 50px;
}

.mainviewcl {
    color: dodgerblue;
}