.nTab {
	float: left;
    position: relative;
	margin: 0 auto;
	border-bottom: 1px #C7C7CD solid;
	/*background: #d5d5d5;*/
	background-position: left;
	background-repeat: repeat-y;
	margin-bottom: 2px;
    left:-0px;
}
.nTab .TabTitle {
	clear: both;
	height: 26px;
	overflow: hidden;
}
.nTab .TabTitle ul {
	margin: 0;
	padding: 0;
}
.nTab .TabTitle li {
	float: left;
	width: 94px;
	cursor: pointer;
	padding-top: 6px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 7px;
	list-style-type: none;
}
.nTab .TabTitle .active {
	background: url(./img/tab_bg1.gif) left -25px no-repeat;
	border-left: 1px  #C7C7CD solid;
	border-top: 1px  #C7C7CD solid;
	border-bottom: 1px #fff solid;
}
.nTab .TabTitle .normal {
	background: url(./img/tab_bg1.gif);
	border-top: 1px #C7C7CD solid;
	border-bottom: 1px #C7C7CD solid;
}
.nTab .TabContent {
	width: auto;
	background: #fff;
	margin: 0px auto;
	
	border-right: 1px #C7C7CD solid;
	border-left: 1px #C7C7CD solid;
}
.none {
	display: none;
}



